# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Next.js
.next/
.next/static/
out/

# Logs
logs/
*.log

# Env
.env*

# OS/Editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Typescript
*.tsbuildinfo
